@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}




